{%extends "admin_layout.html"%}  <!--Inherited all nav features-->
{%block content%}
            <div class="center"><h3>Add Subject</h3></div>
            <form action="/subject/{{name}}" enctype="multipart/form-data" method="POST"> <!--Allowence for file upload use enctype-->
            <div class="input_form">
                <div class="mb-3">
                    <label for="subject_name" class="form-label">Subject Name</label>
                    <input type="text" class="form-control" name="subject_name" id="subject_name" placeholder="ex:- subject name">
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code</label>
                    <input type="text" class="form-control" name="code" id="code" placeholder="ex:- CS2003">
                </div>
                <div class="mb-3">
                    <label for="credit" class="form-label">Credit</label>
                    <input type="number" class="form-control" name="credit" id="credit" placeholder="ex:- subject credit">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="description" placeholder="ex:- programming in python">
                </div>
                    <button type="submit" text-align="center" class="btn btn-primary">Submit</button>
                    <a href ="/admin/{{name}}" type="button" class="btn btn-primary">Cancel</a>
                </div>
            </div>
            </form>
{%endblock%}  