{% extends "admin_layout.html" %}
{% block content %}
    <div class="center"><h3>Add Quiz</h3></div>
    <form action="/quiz/{{ name }}" method="POST">
        <div class="mb-3">
            <label for="chapter_id" class="form-label">Select Chapter</label>
            <select class="form-control" name="chapter_id" id="chapter_id" required>
                <option value="" disabled selected>Select a Chapter</option>
                {% for chapter in chapters %}
                    <option value="{{ chapter.id }}" {% if chapter.id == chapter_id %}selected{% endif %}>
                        {{ chapter.chapter_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="chapter_name" class="form-label">Chapter Name</label>
            <input type="text" class="form-control" name="chapter_name" id="chapter_name" value="{{ chapter_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="chapter_id" class="form-label">Chapter ID</label>
            <input type="number" class="form-control" name="chapter_id" id="chapter_id" value="{{ chapter_id }}" readonly>
        </div>
        <div class="mb-3">
            <label for="quiz_title" class="form-label">Quiz Title</label>
            <input type="text" class="form-control" name="quiz_title" id="quiz_title" placeholder="Quiz Title" required>
        </div>
        <div class="mb-3">
            <label for="duration" class="form-label">Duration</label>
            <input type="time" class="form-control" name="duration" id="duration" placeholder="Duration" required>
        </div>
        <div class="mb-3">
            <label for="date_of_quiz" class="form-label">Date of Quiz</label>
            <input type="date" class="form-control" name="date_of_quiz" id="date_of_quiz" required>
        </div>
        <div class="mb-3">
            <label for="total_questions" class="form-label">Total Questions</label>
            <input type="number" class="form-control" name="total_questions" id="total_questions" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/quiz_management/{{ name }}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
{% endblock %}
