{%extends "admin_layout.html"%}  <!--Inherited all nav features-->
{%block content%}
            <div class="center"><h3>Add Chapter</h3></div>
            <form action="/chapter/{{subject_id}}/{{name}}" method="POST">
            <div class="input_form">
                <div class="mb-3">
                    <label for="subject_id" class="form-label">Subject ID</label>
                    <input type="number" class="form-control" name="subject_id" id="subject_id" value="{{subject_id}}" readonly>
                </div>
                <div class="mb-3">
                    <label for="chapter_name" class="form-label">Chapter Name</label>
                    <input type="text" class="form-control" name="chapter_name" id="chapter_name" placeholder="Chapter Name">
                </div>
                <div class="mb-3">
                    <label for="chapter_no" class="form-label">Chapter No.</label>
                    <input type="number" class="form-control" name="chapter_no" id="chapter_no" placeholder="Chapter No.">
                </div>
                <div class="mb-3">
                    <button type="submit" text-align="center" class="btn btn-primary">Submit</button>
                    <a href ="/admin/{{name}}" type="button" class="btn btn-primary">Cancel</a>
                </div>
            </div>
            </form>
{%endblock%}
