<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>User Dashboard</title>
    </head>
    <body>
        <div class="my_container">
            <div class="center"><h1>Quiz Master</h1></div>
            <div class="my_panel">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(to right, rgb(221, 54, 54),rgb(109, 66, 226));">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarText">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/quiz">Scores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin_summary">Summary</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Logout</a>
                                </li>
                            </ul>
                            <span class="navbar-text">
                                Welcome {{name}}
                            </span>
                        </div>
                    </div>
                </nav>
                {%block content%}
                    <!--This is form child html-->
                {%endblock%}
            </div>   
        </div>    
    </body>
</html>